
    /* Colors */
    :root {
        --CBase: rgba(211, 178, 142, 1);
        --CBaseLight: rgba(222, 198, 173, 1);
        --CBaseDark: #a97c50;
        --CBaseDarker: #8b5e3c;
        --CBaseDarkest: rgba(96, 57, 19, 1);
        --CWhite: #e6e7e83;
        --CBlack: #808285;
        --CRed: #e85069;
        --COrange: #f89d74;
        --CYellow: #fac779;
        --CGreen: #a2d17d;
        --CTurquoise: #7acab5;
        --CBlue: #61bbd5;
        --CMarine: #859dd1;
        --CPurple: #ad89bf;
        --CPink: #f48d9c;
        --CButton: rgba(161, 90, 48, 1);
        --CBackground: rgba(31, 31, 31, 1);
    }

    /* Fetching the Berenika font */
    @font-face {
        font-family: 'Berenika';
        src: url('https://fonts.cdnfonts.com/css/berenika-2?styles=126426');
    }

    /* Character Sheet Parameters*/
    .charsheet .sheet-parchment {
        font-family: 'Berenika', sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: var(--CBaseDarkest);
        margin: -10px -10px -10px -10px;
        overflow: visible;
        background-color: var(--CBackground);
    }

    /* Background */
        .charsheet .sheet-parchment .sheet-background {
            background: url("https://github.com/MChapeland/ParchmentCS/raw/main/img/common/sheet-background.png");
            background-size: 100%;
            position: absolute;
            padding: 20px;
            background-color: var(--CBaseLight);
        }
        

        /* Header Grid */
        .charsheet .sheet-parchment .sheet-header {
            display: grid;
            grid-template-columns: repeat(40, 20px);
            grid-template-rows: repeat(8, 20px);
        }

            /* Header - Photo */
            .charsheet .sheet-parchment .sheet-header .sheet-header-photo {
                grid-column: 1/8;
                grid-row: 1/8;
                border: 6px solid;
                border-radius: 20px;
                border-color: var(--CBaseDarker);
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-photo img {
                    border-radius: 14px;
                }

            /* Header - Name */
            .charsheet .sheet-parchment .sheet-header .sheet-header-name {
                grid-column: 8/25;
                grid-row: 1/4;
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-name input {
                    width: 340px;
                    border: none;
                    outline: none;
                    background: none;
                    color: var(--CBaseDarkest);
                    font-size: 50px;
                    position: relative;
                    left: 15px;
                    top: 15px;
                }

            /* Header - Race */
            .charsheet .sheet-parchment .sheet-header .sheet-header-race {
                grid-column: 8/25;
                grid-row: 4/8;
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-race input {
                    width: 340px;
                    border: none;
                    outline: none;
                    background: none;
                    color: var(--CBaseDarker);
                    font-size: 25px;
                    position: relative;
                    left: 15px;
                    top: 15px;
                }

            /* Header - Level */
            .charsheet .sheet-parchment .sheet-header .sheet-header-level {
                grid-column: 26/41;
                grid-row: 1/8;
                border: 6px solid;
                border-radius: 40px;
                border-color: var(--CBaseDarker);
                background: rgba(211, 178, 142, .5);
                text-align: center;
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-level label {
                    color: var(--CBaseDarker);
                    font-size: 25px;
                    position: relative;
                    left: 22px;
                    top: 25px;
                }
                .charsheet .sheet-parchment .sheet-header .sheet-header-level span {
                    color: var(--CBaseDarkest);
                    font-size: 50px;
                    position: relative;
                    left: -88px;
                    top: 40px;
                }

            /* Header - Class */
            .charsheet .sheet-parchment .sheet-header .sheet-header-class {
                grid-column: 32/40;
                grid-row: 2/4;
                border: 4px solid;
                border-radius: 20px;
                border-color: var(--CBaseDarker);
                background: rgba(211, 178, 142, .5);
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-class select {
                    width: 110px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    border: none;
                    outline: none;
                    background: none;
                    color: var(--CBaseDarker);
                    font-size: 17px;
                    position: relative;
                    left: 6px;
                    top: 2px;
                }
                    .charsheet .sheet-parchment .sheet-header .sheet-header-class select:hover {
                        color: var(--CBaseDarkest);
                    }

            /* Header - Class Level */
            .charsheet .sheet-parchment .sheet-header .sheet-header-classlevel {
                grid-column: 38/40;
                grid-row: 2/4;
                border: 4px solid;
                border-radius: 20px;
                border-color: var(--CBaseDarker);
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-classlevel select {
                    text-align: center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 40px;
                    border: none;
                    outline: none;
                    background: none;
                    color: var(--CBaseDarker);
                    font-size: 16px;
                    position: relative;
                    left: -4px;
                    top: 3px;
                }
                    .charsheet .sheet-parchment .sheet-header .sheet-header-classlevel input:hover {
                        color: var(--CBaseDarkest);
                    }

            /* Header - Multiclass */
            .charsheet .sheet-parchment .sheet-header .sheet-header-multiclass {
                grid-column: 32/40;
                grid-row: 5/7;
                border: 4px solid;
                border-radius: 20px;
                border-color: var(--CBaseDarker);
                background: rgba(211, 178, 142, .5);
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-multiclass select {
                    width: 110px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    border: none;
                    outline: none;
                    background: none;
                    color: var(--CBaseDarker);
                    font-size: 17px;
                    position: relative;
                    left: 6px;
                    top: 2px;
                }
                    .charsheet .sheet-parchment .sheet-header .sheet-header-multiclass select:hover {
                        color: var(--CBaseDarkest);
                    }

            /* Header - Multiclass Level */
            .charsheet .sheet-parchment .sheet-header .sheet-header-multiclasslevel {
                grid-column: 38/40;
                grid-row: 5/7;
                border: 4px solid;
                border-radius: 20px;
                border-color: var(--CBaseDarker);
            }
                .charsheet .sheet-parchment .sheet-header .sheet-header-multiclasslevel select {
                    text-align: center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 40px;
                    border: none;
                    outline: none;
                    background: none;
                    color: var(--CBaseDarker);
                    font-size: 16px;
                    position: relative;
                    left: -4px;
                    top: 3px;
                }
                    .charsheet .sheet-parchment .sheet-header .sheet-header-multiclasslevel select:hover {
                        color: var(--CBaseDarkest);
                    }


        /* Tabs Grid */
        .charsheet .sheet-parchment .sheet-tabs {
            display: grid;
            grid-template-columns: repeat(40, 20px);
            grid-template-rows: repeat(5, 20px);
        }

            /* Tabs - Core */
            .charsheet .sheet-parchment .sheet-tabs .sheet-tabs-core {
                grid-column: 1/9;
                grid-row: 1/5;
                border: 6px solid;
                border-radius: 20px;
                border-color: var(--CBaseDarker);
                background: rgba(161, 90, 48, 0.5);
            }
                .charsheet .sheet-parchment .sheet-tabs .sheet-tabs-core:hover {
                    grid-column: 1/9;
                    grid-row: 1/5;
                    border: 6px solid;
                    border-radius: 20px;
                    border-color: var(--CBaseDarkest);
                    background-color: rgba(161, 90, 48, 0.75);
                }

            /* Tabs - Power */
            .charsheet .sheet-parchment .sheet-tabs .sheet-tabs-power {
                grid-column: 10/18;
                grid-row: 1/5;
                border: 6px solid;
                border-radius: 20px;
                border-color: var(--CBaseDark);
                background-color: rgba(161, 90, 48, 0.25);
            }

            /* Tabs - Items */
            .charsheet .sheet-parchment .sheet-tabs .sheet-tabs-items {
                grid-column: 19/27;
                grid-row: 1/5;
                border: 6px solid;
                border-radius: 20px;
                border-color: var(--CBaseDark);
                background-color: rgba(161, 90, 48, 0.25);
            }

            /* Tabs - Story */
            .charsheet .sheet-parchment .sheet-tabs .sheet-tabs-story {
                grid-column: 28/36;
                grid-row: 1/5;
                border: 6px solid;
                border-radius: 20px;
                border-color: var(--CBaseDark);
                background-color: rgba(161, 90, 48, 0.25);
            }

            /* Tabs - Options */
            .charsheet .sheet-parchment .sheet-tabs .sheet-tabs-options {
                grid-column: 37/41;
                grid-row: 1/5;
                border: 6px solid;
                border-radius: 20px;
                border-color: var(--CBaseDark);
                background-color: rgba(161, 90, 48, 0.25);
            }
           


    