
/* ----- Variables ----- */
:root {
    --CBase: #414042;
    --CBaseHover: #353535;
    --CBaseClick: #303030;
    --CBaseLight4: #d1d3d4;
    --CBaseLight3: #a7a9ac;
    --CBaseLight2: #808285;
    --CBaseLight1: #6d6e71;
    --CBaseLightBarely: #58595b;
    --CBaseDark: #1f1f1f;
    --CBaseDarker: #8b5e3c;
    --CBaseDarkest: rgba(96, 57, 19, 1);
    --CWhite: #e6e7e83;
    --CBlack: #808285;
    --CRed: rgba(232, 80, 105, 1);
    --COrange: rgba(248, 157, 116, 1);
    --CYellow: #fac779;
    --CGreen: #a2d17d;
    --CTurquoise: rgba(122, 202, 181, 1);
    --CBlue: #61bbd5;
    --CMarine: rgba(133, 157, 209, 1);
    --CPurple: rgba(173, 137, 191, 1);
    --CPink: #f48d9c;
    --CButton: rgba(161, 90, 48, 1);
    --CBackground: rgba(31, 31, 31, 1);
    --HeartFillHeight: 50px;
    --HeartFillMargin: -60px;
}

.charsheet {
    position: absolute;
    margin: -10px -10px -10px -10px;
    overflow: visible;
    background-color: var(--CBackground);
}

/* ----- Sheet Parameters ----- */


    /* ----- Header ----- */
.header {
    margin: 0;
    position: absolute;
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-template-columns: 120px 320px 120px;
    grid-template-rows: 120px;
    grid-template-areas: 'photo info level';
    grid-gap: 20px;
}

    .header .header-photo {
        grid-area: photo;
        border-radius: 20px;
    }
        .header .header-photo img {
            border-radius: 14px;
        }

    .header .header-info {
        grid-area: info;
        display: grid;
        line-height: 0px;
    }
        .header .header-info input {
            text-align: center;
            width: 100%;
            background: none;
            border: none;
            outline: none;
        }

    .header .header-level {
        grid-area: level;
        display: grid;
        border-radius: 30px;
        background: var(--CBase);
        line-height: 0px;
    }
        .header .header-level label {
            text-align: center;
            color: var(--CBaseLight2);
            font-size: 25px;
            margin-top: 20px;
        }
        .header .header-level span {
            text-align: center;
            font-weight: bold;
            color: var(--CBaseLight2);
            font-size: 50px;
            margin-top: -8px;
        }



    /* ----- Tabs ----- */
    .tabs {
        margin: 140px 0 0 0;
        position: absolute;
        display: grid;
        grid-template-columns: 120px 120px 120px 120px 80px;
        grid-template-rows: 60px;
        grid-template-areas: 'core power items story options';
        grid-gap: 10px;
    }

        .tabs .tabs-button {
            display: grid;
            height: max-content;
            border-radius: 20px;
            background: var(--CBase);
            border: none;
        }
            .tabs .tabs-button:hover {
                background: var(--CBaseHover);
            }
            .tabs .tabs-button:active {
                background: var(--CBaseClick);
            }

        .tabs .tabs-img {
            margin: 12px auto;
            height: 35px;
            filter: brightness(0) saturate(100%) invert(51%) sepia(6%) saturate(161%) hue-rotate(176deg) brightness(98%) contrast(91%);
        }

        .tabs .tabs-core {
            grid-area: core;
            display: grid;
        }

        .tabs .tabs-power {
            grid-area: power;
            display: grid;
        }

        .tabs .tabs-items {
            grid-area: items;
            display: grid;
        }

        .tabs .tabs-story {
            grid-area: story;
            display: grid;
        }

        .tabs .tabs-options {
            grid-area: options;
            display: grid;
        }


    /* ----- Core ----- */
    .core {
        margin: 220px 0 0 0;
        position: absolute;
        font-family: Montserrat, sans-serif;
        display: grid;
        grid-template-columns: 200px 380px;
        grid-template-rows: repeat(47, 20px);
        grid-template-areas: 'stats resources';
        grid-gap: 20px;
    }

        .core .core-statblock {
            height: 110px;
            width: 90px;
            position: relative;
            border-radius: 20px 20px 50px 50px;
            background: var(--CBase);
        }
            .core .core-statblock button {
                position: absolute;
                display: grid;
                align-self: center;
                height: 75px;
                width: 80px;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: none;
                outline: none;
                background: none;
                border-radius: 15px 15px 15px 15px;
                margin-top: -80px;
            }

        .core .core-statcircle {
            height: 30px;
            width: 30px;
            position: relative;
            border-radius: 20px 20px 20px 20px;
            background: var(--CBaseLightBarely);
            margin-top: -35px;
        }

        .core .core-statmod {
            display: grid;
            text-align: center;
            color: var(--CBaseLight3);
            font-size: 30px;
            margin-top: -3px;
            font-weight: 700;
        }

        .core .core-statvalue {
            display: grid;
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 40px;
            border: none;
            outline: none;
            background: none;
            color: var(--CBaseDark);
            font-size: 16px;
            margin-left: -5px;
            margin-top: 3px;
            font-weight: 600;
        }

        .core .core-statname {
            display: grid;
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
            color: var(--CBaseLight2) !important;
            font-weight: 600;
        }

        .core .core-stattoggle {
            display: grid;
            align-items: center;
            height: 30px;
            width: 30px;
            position: relative;
            border-radius: 20px 20px 20px 20px;
            background: var(--CBaseLightBarely);
            margin-top: -35px;
            margin-left: 60px;
        }

        .core input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 20px;
            width: 20px;
            border: none;
            border-radius: 20px 20px 20px 20px;
            background: var(--CBase);
            margin-left: 5px;
        }
            .core input[type="checkbox"]:checked {
                background-color: var(--CBaseLight2);
            }

        .core .core-stats {
            grid-area: stats;
            display: grid;
        }
            .core .core-stats .core-stats-str {
                display: grid;
                position: absolute;
            }
            .core .core-stats .core-stats-int {
                display: grid;
                position: absolute;
                margin-left: 110px;
            }
            .core .core-stats .core-stats-dex {
                display: grid;
                margin-top: 120px;
                position: absolute;
            }
            .core .core-stats .core-stats-wis {
                display: grid;
                margin-top: 120px;
                margin-left: 110px;
                position: absolute;
            }
            .core .core-stats .core-stats-con {
                display: grid;
                margin-top: 240px;
                position: absolute;
            }
            .core .core-stats .core-stats-cha {
                display: grid;
                margin-top: 240px;
                margin-left: 110px;
                position: absolute;
            }

        .core .core-resources {
            grid-area: resources;
            display: grid;
        }
            .core .core-resources .core-resources-vitality {
                height: 205px;
                display: grid;
                position: relative;
                border: 6px solid;
                border-radius: 40px;
                border-color: var(--CBaseDark);
                background: rgba(211, 178, 142, .25);
            }

                .core .core-resources .core-resources-vitality .core-resources-vitality-box {
                    display: grid;
                    border: 6px solid;
                    border-radius: 20px;
                    border-color: var(--CBaseDark);
                    background: rgba(211, 178, 142, .25);
                }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-box label {
                        text-align: center;
                        margin: -5px auto 2px auto;
                        position: inherit;
                        font-size: 12px;
                        color: var(--CBaseDark);
                    }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-box span {
                        margin: 0 auto -1px auto;
                        text-align: center;
                        position: inherit;
                        color: var(--CBaseDarkest);
                        font-size: 30px;
                    }

                .core .core-resources .core-resources-vitality .core-resources-vitality-heart {
                    display: grid;
                    margin: 10px 10px 10px 10px;
                    width: 140px;
                    height: 110px;
                }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-heart .core-resources-vitality-heart-value {
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        text-align: center;
                        margin: 0px 10px -2px 17.5px;
                        color: var(--CBaseDarkest);
                        font-size: 35px;
                        z-index: 1;
                        background: none;
                        border: none;
                        outline: none;
                    }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-heart .core-resources-vitality-heart-border {
                        width: 140px;
                        height: 110px;
                        position: absolute;
                        filter: brightness(0) saturate(100%) invert(52%) sepia(52%) saturate(375%) hue-rotate(349deg) brightness(89%) contrast(88%);
                        z-index: 0;
                    }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-heart .core-resources-vitality-heart-fill {
                        align-self: end;
                        margin: auto;
                        height: var(--HeartFillHeight);
                        overflow: hidden;
                        position: absolute;
                        z-index: 0;
                    }
                        .core .core-resources .core-resources-vitality .core-resources-vitality-heart .core-resources-vitality-heart-fill img {
                            margin-top: var(--HeartFillMargin);
                            width: 140px;
                            height: 110px;
                            filter: brightness(0) saturate(100%) invert(49%) sepia(47%) saturate(1444%) hue-rotate(319deg) brightness(121%) contrast(86%);
                        }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-heart .core-resources-vitality-heart-bg {
                        position: absolute;
                        z-index: 0;
                        width: 140px;
                        height: 110px;
                        filter: brightness(0) saturate(100%) invert(65%) sepia(3%) saturate(4793%) hue-rotate(315deg) brightness(122%) contrast(96%);
                    }

                .core .core-resources .core-resources-vitality .core-resources-vitality-armor {
                    display: grid;
                    position: absolute;
                    margin: 10px 10px 10px 160px;
                    width: 80px;
                    height: 80px;
                }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-armor span {
                        text-align: center;
                        margin: 17px auto;
                        color: var(--CBaseDarkest);
                        font-size: 30px;
                        z-index: 1;
                    }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-armor .core-resources-vitality-armor-fill {
                        position: absolute;
                        filter: brightness(0) saturate(100%) invert(52%) sepia(86%) saturate(277%) hue-rotate(167deg) brightness(85%) contrast(89%);
                        z-index: 0;
                        width: 80px;
                        height: 80px;
                    }
                    .core .core-resources .core-resources-vitality .core-resources-vitality-armor .core-resources-vitality-armor-border {
                        position: absolute;
                        filter: brightness(0) saturate(100%) invert(52%) sepia(52%) saturate(375%) hue-rotate(349deg) brightness(89%) contrast(88%);
                        z-index: 0;
                        width: 80px;
                        height: 80px;
                    }

                .core .core-resources .core-resources-vitality .core-resources-vitality-proficiency {
                    display: grid;
                    margin: 10px 10px 10px 255px;
                    position: absolute;
                    width: 100px;
                    height: 80px;
                }

                .core .core-resources .core-resources-vitality .core-resources-vitality-passiveperception {
                    display: grid;
                    margin: 110px 10px 10px 255px;
                    position: absolute;
                    width: 100px;
                    height: 80px;
                }