@font-face {
    font-family: 'Berenika';
    src: url('https://fonts.cdnfonts.com/css/berenika-2');
}

.charsheet .sheet-parchment {
    background: url("https://github.com/MChapeland/ParchmentCS/raw/main/img/background.png");
    background-size: 100%;
    font-family: 'Berenika', sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: -10px -10px -10px -10px;
    overflow: hidden;
    padding: 0px;
}
