
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

/* ----- Constant Variables ----- */
:root {
    --CBase: #414042;
    --CRed: #da5b70;
    --CGrey: #313031;
    --CBlue: #4ea5c0;
    --CGreen: #77b05f;
    --CYellow: #e9a355;
    --CScrollTrack: #313031;
    --CScrollThumb: #616164;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}
::-webkit-scrollbar-track {
    background: var(--CScrollTrack);
}
::-webkit-scrollbar-thumb {
    background: var(--CScrollThumb);
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,  
.nav-tabs > li.active > a:focus, 
.nav-tabs > li > a,   
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
    text-decoration: none !important;
    background: none !important;
    border: none !important;
    padding: 0px 5px 5px 0px;
    font-size: 12px;
}

.btn {
    background: none !important;
    border: none !important;
    outline: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    margin-top: -7px;
    color: #B3B3B3;
    text-shadow: none;
    box-shadow: none;
    font-size: 12px;
    margin-right: -5px;
}

/* INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ----- Page Parameters ----- */
.charsheet {
    position: absolute;
    width: 290px;
    height: fit-content;
    margin: -10px;
    overflow: visible;
    background-color: none;
    font-family: 'Share Tech', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
    /* ----- SIDEBAR ----- */
    .charsheet .sidebar {
        z-index: 10;
        border-radius: 10px;
        position: absolute;
        width: 290px;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: 50px;
        grid-template-areas:
            'a1 a2 a3 a4 a5';
        grid-gap: 10px;
    }

    .charsheet .tab {
        z-index: 11;
        transform: translateY(0px);
        background-color: var(--CBase);
        border: none;
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;

        &:hover {
            filter: brightness(115%);
        }

        &:active {
            filter: brightness(95%);
        }

        & img {
            width: 55%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            filter: brightness(90%);
        }
    }


    /* ----- PAGE CONTENTS ----- */
    .charsheet .content {
        z-index: 1;
        margin-top: 60px;
        position: absolute;
        width: 290px;
        overflow: hidden;
        
        .character {
            position: absolute;
            margin-top: 10px;
            width: 290px;
            height:auto;
            background-color: yellow;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-760px);
            transition: transform;
            transition-delay: 0.15s;
        }

        .core {
            margin-top: 10px;
            width: 290px;
            height: 100%;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-760px);
            transition: transform;
            transition-delay: 0.15s;
            overflow: hidden;
        }

        .power {
            position: absolute;
            margin-top: 10px;
            width: 290px;
            height:auto;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-760px);
            transition: transform;
            transition-delay: 0.15s;
        }
        
        .inventory {
            position: absolute;
            margin-top: 10px;
            width: 290px;
            height:auto;
            background-color: green;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-760px);
            transition: transform;
            transition-delay: 0.15s;
        }

        .options {
            position: absolute;
            margin-top: 10px;
            width: 290px;
            height:auto;
            background-color: gray;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-760px);
            transition: transform;
            transition-delay: 0.15s;
        }
    }

    .charsheet .gridbox {
        grid-template-columns: repeat(29, 10px);
        grid-template-rows: repeat(34, 10px);
        grid-gap: 0px;
        display: grid;
    }


    .charsheet .longtag {
        width: 190px;
        height: 30px;
        background-color: var(--CBase);
        
        & label {
            text-align: center;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            font-weight: 500;
            margin: 6px 0px;
        }
    }

    .charsheet .inputtag {
        width: 190px;
        height: 30px;
        background-color: var(--CBase);
        filter: brightness(75%);
        overflow: hidden;
        
        & input {
            text-align: left;
            height: 35px;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            font-weight: 500;
            margin: -2.5px -1px;
            border: none;
            background: none;
            padding: 10px;
        }
    }

    .charsheet .statblock {
        width: 150px;
        height: 30px;
        background-color: #181818;
        border-radius: 0px 5px 5px 0px;

        &:hover {
                filter: brightness(150%);

            cursor: pointer;
        }

        &:active {
            filter: brightness(90%);
        }
        
        & label {
            text-align: left;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            font-weight: 500;
            margin: 6px 8px;
            cursor: pointer;
        }
    }

    .charsheet .inputblock {
        width: 50px;
        height: 30px;
        background-color: var(--CBase);
        text-align: center;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;

        & input {
            text-align: center;
            height: 33px;
            width: 70px;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 24px;
            border: none;
            background: none;
            margin: -1px -30px;
        }

    }

    .charsheet .standalonevalue {
        width: 30px;
        height: 30px;
        background-color: var(--CBase);
        filter: brightness(75%);
        overflow: hidden;
        text-align: center;
        border-radius: 0px 5px 5px 0px;
        
        & span {
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 22px;
            top: 50%;
            left: 50%;
        }
        
        & input {
            text-align: center;
            height: 33px;
            width: 70px;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            border: none;
            background: none;
            margin: -1px -25px;
        }

        & select {
            text-align: center;
            height: 33px;
            width: 70px;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            border: none;
            background: none;
            margin: -1px -13px;

            &:focus {
                appearance: none;
                background-color: var(--CScrollTrack);
                border: none;
                width: 35px;
                color: var(--CScrollThumb);
                text-align: center;
                left: 50%;
                filter: brightness(136%); 
                outline:none;
            }
        }

    }

    .charsheet .proficientbox {
        width: 20px;
        height: 30px;
        background-color: var(--CBase);
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;

        & input[type="checkbox"]{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 40px;
            width: 30px;
            background: var(--CBase);
            filter: brightness(75%);
            margin-top: -5px;
            margin-left: -5px;

            &:checked{
                filter: brightness(150%);
            }
        }
    }

    .charsheet .statbox {
        width: 50px;
        height: 50px;
        background-color: var(--CBase);
        overflow: hidden;
        text-align: center;
        border-radius: 5px;

        &:hover {
            filter: brightness(125%);
            cursor: pointer;
        }

        &:active {
            filter: brightness(110%);
        }
        
        & label {
            text-align: center;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 14px;
            margin-top: -5px;
            font-weight: 500;
            cursor: pointer;
        }
        
        & span {
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 22px;
            line-height: 35px;
            top: 50%;
            left: 50%;
            cursor: pointer;
        }
    }

    .charsheet .valuebox {
        width: 50px;
        height: 50px;
        background-color: var(--CBase);
        filter: brightness(75%);
        overflow: hidden;
        text-align: center;
        border-radius: 5px;
        
        & label {
            text-align: center;
            color: var(--CBase);
            filter: brightness(300%);
            font-size: 14px;
            margin-top: -5px;
            font-weight: 500;
        }

        & select {
            appearance: none;
            height: 33px;
            width: 100%;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 22px;
            border: none;
            background: none;
            text-align: center;
            left: 50%;
            margin-bottom: 8px;
            margin-top: 4px;

            &:focus {
                appearance: none;
                background-color: var(--CScrollTrack);
                border: none;
                width: 35px;
                color: var(--CScrollThumb);
                left: 50%;
                filter: brightness(136%); 
                outline:none;
            }
        }

        & input {
            text-align: center;
            height: 33px;
            color: var(--CBase);
            filter: brightness(300%);
            font-size: 22px;
            border: none;
            background: none;
            appearance: none;
            outline: none;
        }
    }

    .charsheet .longbutton {
        width: 140px;
        height: 30px;
        background-color: var(--CBase); 
        border-radius: 5px;

        &:hover {
            filter: brightness(125%);
            cursor: pointer;
        }

        &:active {
            filter: brightness(110%);
        }
        
        & label {
            text-align: center;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            font-weight: 500;
            margin-top: 6.25px;
            cursor: pointer;
        }
    }

    .charsheet .tinybutton {
        width: 30px;
        height: 30px;
        background-color: var(--CBase);

        &:hover {
            filter: brightness(110%);
            cursor: pointer;
        }

        &:active {
            filter: brightness(90%);
        }
        
        & label {
            text-align: center;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 25px;
            font-weight: 600;
            margin-top: 6px;
            cursor: pointer;
        }
    }

    .charsheet .scrollbox {
        width: 220px;
        height: 190px;
        overflow-y: scroll;
        grid-gap: 10px;
        display: grid;

        .scrollattack{
            width: 200px;
            height: 50px;
            background-color: var(--CBase);
            overflow: hidden;
            cursor: pointer;

            &:hover {
                filter: brightness(110%);
                cursor: pointer;
            }

            &:active {
                filter: brightness(90%);
            }

            .scrolltitle {
                width: 160px;
                height: 50px;
                background-color: var(--CBase);
                float: right;
                cursor: pointer;
        
                & label {
                    text-align: left;
                    color: var(--CBase);
                    filter: brightness(250%);
                    font-size: 18px;
                    font-weight: 500;
                    margin: 6px 0px 2px 8px;
                    cursor: pointer;
                }

                & span {
                    color: var(--CBase);
                    filter: brightness(200%);
                    font-size: 14px;
                    font-weight: 600;
                    margin: 6px 0px 0px 8px;
                    cursor: pointer;
                }
            }

            .scrollmainvalue {
                width: 40px;
                height: 50px;
                background-color: var(--CBase);
                filter: brightness(75%);
                text-align: center;
                float: left;
                cursor: pointer;
                
                & span {
                    color: var(--CBase);
                    filter: brightness(250%);
                    font-size: 21px;
                    line-height: 35px;
                    left: 50%;
                    font-weight: 900;
                    cursor: pointer;
                }
        
                & label {
                    text-align: center;
                    color: var(--CBase);
                    filter: brightness(250%);
                    font-size: 14px;
                    font-weight: 900;
                    margin-top: -3px;
                    font-weight: 900;
                    line-height: 12px;
                    cursor: pointer;
                }
            }
        }

    }

    .charsheet .scrollability {
        width: 230px;
        height: 50px;
        background-color: var(--CBase);
        overflow: hidden;
        cursor: pointer;

        &:hover {
            filter: brightness(110%);
            cursor: pointer;
        }

        &:active {
            filter: brightness(90%);
        }

        .scrolltitle {
            width: 190px;
            height: 50px;
            background-color: var(--CBase);
            float: left;
            cursor: pointer;

            & label {
                text-align: left;
                color: var(--CBase);
                filter: brightness(250%);
                font-size: 18px;
                font-weight: 500;
                margin: 6px 0px 2px 8px;
                cursor: pointer;
            }

            & span {
                color: var(--CBase);
                filter: brightness(200%);
                font-size: 14px;
                font-weight: 600;
                margin: 6px 0px 0px 8px;
                cursor: pointer;
            }
        }

        .scrollmainvalue {
            width: 40px;
            height: 50px;
            background-color: var(--CBase);
            filter: brightness(75%);
            text-align: center;
            float: right;
            cursor: pointer;
            
            & span {
                color: var(--CBase);
                filter: brightness(250%);
                font-size: 21px;
                line-height: 35px;
                font-weight: 900;
                left: 50%;
                cursor: pointer;
            }
    
            & label {
                text-align: center;
                color: var(--CBase);
                filter: brightness(250%);
                font-size: 12px;
                font-weight: 900;
                line-height: 8px;
                cursor: pointer;
            }
        }
    }

    .charsheet .dropbutton {
        width: 280px;
        max-width: 278px;
        height: 30px;
        background-color: var(--CBase); 
        border-radius: 5px;
        border: none;
        cursor: pointer;
        align-items: center;

        &:hover {
            filter: brightness(125%);
        }

        &:active {
            filter: brightness(110%);
        }
        
        & label {
            text-align: center;
            color: var(--CBase);
            filter: brightness(250%);
            font-size: 20px;
            font-weight: 500;
            margin-top: 6.25px;
            cursor: pointer;
        }
    }       
    


    .charsheet .resourcebar {
        background-color: #181818;
        width: 210px;
        height: 30px;
        overflow: visible;
    }

    .charsheet .healthbar {
        background-color: var(--CGreen);
        width: 100%;
        height: 100%;
        transition: width 0.25s ease-in-out, background-color 0.25s ease-in-out;
    }

    .charsheet .manabar {
        background-color: var(--CBlue);
        width: 100%;
        height: 100%;
        transition: width 0.25s ease-in-out;
    }


        


/* ----- TAB TRANSITION SETUP ----- */
@keyframes hideEffect {
    from { transform: translateX(0px); }
    to { transform: translateX(-740px); }
}
@keyframes showEffect {
    from { transform: translateX(-740px); }
    to { transform: translateX(0px); }
}

.charsheet .tabshow[value="character"] ~ .content .character,
.charsheet .tabshow[value="core"] ~ .content .core,
.charsheet .tabshow[value="power"] ~ .content .power,
.charsheet .tabshow[value="inventory"] ~ .content .inventory,
.charsheet .tabshow[value="options"] ~ .content .options {
    animation: showEffect 0.15s ease-in-out 0.15s;
    transform: translateX(0px);
}




/* ----- HEALTH BAR PROGRESS STEPS ----- */
.charsheet .health-value[value^="-"] ~ div.healthbar,
.charsheet .health-value[value="0"] ~ div.healthbar {
    width: 0%;
    background-color: var(--CRed);
}

.charsheet .health-value[value^="0."] ~ div.healthbar,
.charsheet .health-value[value="1"] ~ div.healthbar,
.charsheet .health-value[value^="1."] ~ div.healthbar {
    background-color: var(--CRed);
    width: 5%;
}

.charsheet .health-value[value="2"] ~ div.healthbar,
.charsheet .health-value[value^="2."] ~ div.healthbar {
    background-color: var(--CRed);
    width: 10%;
}

.charsheet .health-value[value="3"] ~ div.healthbar,
.charsheet .health-value[value^="3."] ~ div.healthbar {
    background-color: var(--CRed);
    width: 15%;
}

.charsheet .health-value[value="4"] ~ div.healthbar,
.charsheet .health-value[value^="4."] ~ div.healthbar {
    background-color: var(--CRed);
    width: 20%;
}

.charsheet .health-value[value="5"] ~ div.healthbar,
.charsheet .health-value[value^="5."] ~ div.healthbar {
    background-color: var(--CRed);
    width: 25%;
}

.charsheet .health-value[value="6"] ~ div.healthbar,
.charsheet .health-value[value^="6."] ~ div.healthbar {
    background-color: var(--CYellow);
    width: 30%;
}

.charsheet .health-value[value="7"] ~ div.healthbar,
.charsheet .health-value[value^="7."] ~ div.healthbar {
    background-color: var(--CYellow);
    width: 35%;
}

.charsheet .health-value[value="8"] ~ div.healthbar,
.charsheet .health-value[value^="8."] ~ div.healthbar {
    background-color: var(--CYellow);
    width: 40%;
}

.charsheet .health-value[value="9"] ~ div.healthbar,
.charsheet .health-value[value^="9."] ~ div.healthbar {
    background-color: var(--CYellow);
    width: 45%;
}

.charsheet .health-value[value="10"] ~ div.healthbar,
.charsheet .health-value[value^="10."] ~ div.healthbar {
    background-color: var(--CYellow);
    width: 50%;
}

.charsheet .health-value[value="11"] ~ div.healthbar,
.charsheet .health-value[value^="11."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 55%;
}

.charsheet .health-value[value="12"] ~ div.healthbar,
.charsheet .health-value[value^="12."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 60%;
}

.charsheet .health-value[value="13"] ~ div.healthbar,
.charsheet .health-value[value^="13."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 65%;
}

.charsheet .health-value[value="14"] ~ div.healthbar,
.charsheet .health-value[value^="14."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 70%;
}

.charsheet .health-value[value="15"] ~ div.healthbar,
.charsheet .health-value[value^="15."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 75%;
}

.charsheet .health-value[value="16"] ~ div.healthbar,
.charsheet .health-value[value^="16."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 80%;
}

.charsheet .health-value[value="17"] ~ div.healthbar,
.charsheet .health-value[value^="17."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 85%;
}

.charsheet .health-value[value="18"] ~ div.healthbar,
.charsheet .health-value[value^="18."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 90%;
}

.charsheet .health-value[value="19"] ~ div.healthbar,
.charsheet .health-value[value^="19."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 95%;
}

.charsheet .health-value[value="20"] ~ div.healthbar,
.charsheet .health-value[value^="20."] ~ div.healthbar {
    background-color: var(--CGreen);
    width: 100%;
}


/* ----- MANA PROGRESS BAR STEPS ----- */
.charsheet .mana-value[value^="-"] ~ div.manabar,
.charsheet .mana-value[value="0"] ~ div.manabar {
    width: 0%;
}

.charsheet .mana-value[value^="0."] ~ div.manabar,
.charsheet .mana-value[value="1"] ~ div.manabar,
.charsheet .mana-value[value^="1."] ~ div.manabar {
    width: 5%;
}

.charsheet .mana-value[value="2"] ~ div.manabar,
.charsheet .mana-value[value^="2."] ~ div.manabar {
    width: 10%;
}

.charsheet .mana-value[value="3"] ~ div.manabar,
.charsheet .mana-value[value^="3."] ~ div.manabar {
    width: 15%;
}

.charsheet .mana-value[value="4"] ~ div.manabar,
.charsheet .mana-value[value^="4."] ~ div.manabar {
    width: 20%;
}

.charsheet .mana-value[value="5"] ~ div.manabar,
.charsheet .mana-value[value^="5."] ~ div.manabar {
    width: 25%;
}

.charsheet .mana-value[value="6"] ~ div.manabar,
.charsheet .mana-value[value^="6."] ~ div.manabar {
    width: 30%;
}

.charsheet .mana-value[value="7"] ~ div.manabar,
.charsheet .mana-value[value^="7."] ~ div.manabar {
    width: 35%;
}

.charsheet .mana-value[value="8"] ~ div.manabar,
.charsheet .mana-value[value^="8."] ~ div.manabar {
    width: 40%;
}

.charsheet .mana-value[value="9"] ~ div.manabar,
.charsheet .mana-value[value^="9."] ~ div.manabar {
    width: 45%;
}

.charsheet .mana-value[value="10"] ~ div.manabar,
.charsheet .mana-value[value^="10."] ~ div.manabar {
    width: 50%;
}

.charsheet .mana-value[value="11"] ~ div.manabar,
.charsheet .mana-value[value^="11."] ~ div.manabar {
    width: 55%;
}

.charsheet .mana-value[value="12"] ~ div.manabar,
.charsheet .mana-value[value^="12."] ~ div.manabar {
    width: 60%;
}

.charsheet .mana-value[value="13"] ~ div.manabar,
.charsheet .mana-value[value^="13."] ~ div.manabar {
    width: 65%;
}

.charsheet .mana-value[value="14"] ~ div.manabar,
.charsheet .mana-value[value^="14."] ~ div.manabar {
    width: 70%;
}

.charsheet .mana-value[value="15"] ~ div.manabar,
.charsheet .mana-value[value^="15."] ~ div.manabar {
    width: 75%;
}

.charsheet .mana-value[value="16"] ~ div.manabar,
.charsheet .mana-value[value^="16."] ~ div.manabar {
    width: 80%;
}

.charsheet .mana-value[value="17"] ~ div.manabar,
.charsheet .mana-value[value^="17."] ~ div.manabar {
    width: 85%;
}

.charsheet .mana-value[value="18"] ~ div.manabar,
.charsheet .mana-value[value^="18."] ~ div.manabar {
    width: 90%;
}

.charsheet .mana-value[value="19"] ~ div.manabar,
.charsheet .mana-value[value^="19."] ~ div.manabar {
    width: 95%;
}

.charsheet .mana-value[value="20"] ~ div.manabar,
.charsheet .mana-value[value^="20."] ~ div.manabar {
    width: 100%;
}


/* ----- EFFECTS ----- */
.charsheet .effects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: repeat(auto-fill, 100px);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
