
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

/* ----- Constant Variables ----- */
:root {
    --CBase: #414042;
    --CRed: #da5b70;
    --CGrey: #313031;
    --CBlue: #4ea5c0;
    --CGreen: #77b05f;
    --CYellow: #e9a355;
}


/* ----- Page Parameters ----- */
.charsheet {
    position: absolute;
    width: 830px;
    height: 470px;
    margin: -10px -10px -10px -10px;
    overflow: hidden;
    background-color: none;
    font-family: 'Share Tech', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .charsheet .sidebar {
        z-index: 10;
        border-radius: 10px;
        background-color: var(--CBase);
        position: absolute;
        width: 90px;
        height: 470px;
        display: grid;
        grid-template-columns: 70px;
        grid-template-rows: 70px 0px repeat(14, 70px);
        grid-gap: 20px;
    }

        .charsheet .sidebar:hover ~ sidebarDrop {
            transform: translateX(0px);
        }

        .charsheet .sidebar .sidebar-button {
            z-index: 11;
            transform: translate(10px, 10px);
            border-radius: 5px;
            background-color: var(--CBase);
            filter: brightness(110%);
            border: none;
            cursor: pointer;
            overflow: hidden;
        }
            .charsheet .sidebar .sidebar-button:hover {
                filter: brightness(115%);
            }
            .charsheet .sidebar .sidebar-button:active {
                filter: brightness(95%);
            }

            .charsheet .sidebar .sidebar-button img {
                width: 55%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                filter: brightness(90%);
            }


        .charsheet .sidebar .sidebar-line {
            transform: translate(20px, 8px);
            z-index: 11;
            border-radius: 2px;
            border: 2px solid;
            border-color: var(--CBase);
            filter: brightness(125%);
            width: 50px;
        }


     /* ----- PAGE CONTENTS ----- */
    .charsheet .content {
        z-index: 1;
        margin: 10px 0px 0px 90px;
        position: absolute;
        width: 740px;
        height: 450px;
        overflow: hidden;
    }

        /* ----- CHARACTER ----- */
        .charsheet .content .content-box-character {
            margin-left: 30px;
            width: 710px;
            height: 450px;
            grid-template-columns: repeat(71, 10px);
            grid-template-rows: repeat(45, 10px);
            grid-gap: 0px;
            background-color: yellow;
            display: grid;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-740px);
            transition: transform;
            transition-delay: 0.15s;
        }

        /* ----- CORE ----- */
        .charsheet .content .content-box-core {
            margin-left: 30px;
            margin-top: -450px;
            width: 710px;
            height: 450px;
            grid-template-columns: repeat(71, 10px);
            grid-template-rows: repeat(45, 10px);
            grid-gap: 0px;
            display: grid;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-740px);
            transition: transform;
            transition-delay: 0.15s;
        }

            .charsheet .content .content-box-core .content-box-core-statblockTop {
                width: 80px;
                height: 90px;
                background-color: var(--CBase);
                border-radius: 10px 10px 5px 5px;
                text-align: center;
                cursor: pointer;
            }
                .charsheet .content .content-box-core .content-box-core-statblockTop:hover {
                    filter: brightness(110%);
                }

                .charsheet .content .content-box-core .content-box-core-statblockTop:active {
                    filter: brightness(90%);
                }

                .charsheet .content .content-box-core .content-box-core-statblockTop label {
                    text-align: center;
                    color: var(--CBase);
                    filter: brightness(225%);
                    font-size: 25px;
                    font-weight: 500;
                    margin-top: 10px;
                    cursor: pointer;
                }

                .charsheet .content .content-box-core .content-box-core-statblockTop span {
                    text-align: center;
                    color: var(--CBase);
                    filter: brightness(250%);
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 45px;
                    cursor: pointer;
                }

            .charsheet .content .content-box-core .content-box-core-statblockLeft {
                width: 40px;
                height: 30px;
                background-color: var(--CBase);
                border-radius: 5px 5px 5px 10px;
                text-align: center;
                overflow: hidden;
            }
                .charsheet .content .content-box-core .content-box-core-statblockLeft input {
                    text-align: center;
                    height: 32px;
                    margin-top: -1px;
                    margin-left: -7px;
                    color: var(--CBase);
                    filter: brightness(175%);
                    font-size: 20px;
                    font-weight: 700;
                    border: none;
                    background: none;
                }

            .charsheet .content .content-box-core .content-box-core-statblockRight {
                width: 30px;
                height: 30px;
                background-color: var(--CBase);
                border-radius: 5px 5px 10px 5px;
            }
                .charsheet .content .content-box-core .content-box-core-statblockRight .content-box-core-statblockRight-box {
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    border-radius: 2.5px 2.5px 6.2px 2.5px;
                    top: 50%;
                    left: 50%;
                    transform: translateX(5px) translateY(5px);
                    overflow: hidden;
                }
                    .charsheet .content .content-box-core .content-box-core-statblockRight .content-box-core-statblockRight-box input[type="checkbox"] {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 30px;
                        width: 30px;
                        border: none;
                        background: var(--CBase);
                        filter: brightness(75%);
                        margin-top: -5px;
                        margin-left: -5px;
                    }
                        .charsheet .content .content-box-core .content-box-core-statblockRight .content-box-core-statblockRight-box input[type="checkbox"]:checked {
                            filter: brightness(150%);
                        }

            .charsheet .content .content-box-core .content-box-core-bar {
                width: 290px;
                height: 40px;
                background-color: var(--CBase);
                border-radius: 10px;
                overflow: visible;
                text-align: center;
            }
                .charsheet .content .content-box-core .content-box-core-bar .content-box-core-bar-box {
                    height: 30px;
                    width: 40px;
                    text-align: center;
                    top: 50%;
                    left: 50%;
                    transform: translateX(10px) translateY(5px);
                    overflow: hidden;
                }
                    .charsheet .content .content-box-core .content-box-core-bar .content-box-core-bar-box input {
                        text-align: center;
                        height: 33px;
                        width: 70px;
                        margin-left: -7px;
                        margin-top: -1px;
                        color: var(--CBase);
                        filter: brightness(250%);
                        font-size: 25px;
                        font-weight: 700;
                        border: none;
                        background: none;
                    }
                .charsheet .content .content-box-core .content-box-core-bar .content-box-core-bar-track {
                    background-color: var(--CGrey); /* Grey */
                    width: 170px;
                    height: 20px;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-top: -20px;
                    margin-left: 60px;
                }

            .charsheet .content .content-box-core .content-box-core-square {
                width: 80px;
                height: 80px;
                background-color: var(--CBase);
                border-radius: 10px;
                cursor: pointer;
                text-align: center;
            }
                .charsheet .content .content-box-core .content-box-core-square:hover {
                    filter: brightness(110%);
                }
                .charsheet .content .content-box-core .content-box-core-square:active {
                    filter: brightness(90%);
                }
                .charsheet .content .content-box-core .content-box-core-square label {
                    text-align: center;
                    color: var(--CBase);
                    filter: brightness(225%);
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 50px;
                }
                .charsheet .content .content-box-core .content-box-core-square span {
                    color: var(--CBase);
                    filter: brightness(250%);
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 45px;
                    cursor: pointer;
                    position: absolute;
                    margin-top: 10px;
                    margin-left: -7.5px;
                }

            .charsheet .content .content-box-core .content-box-core-rest {
                width: 150px;
                height: 40px;
                background-color: var(--CBase);
                filter: brightness(130%);
                border-radius: 5px 5px 5px 5px;
                border: none;
                cursor: pointer;
            }
                .charsheet .content .content-box-core .content-box-core-rest:hover {
                    filter: brightness(140%);
                }
                .charsheet .content .content-box-core .content-box-core-rest:active {
                    filter: brightness(120%);
                }
                .charsheet .content .content-box-core .content-box-core-rest label {
                    text-align: center;
                    color: var(--CBase);
                    filter: brightness(160%);
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 11.5px;
                    cursor: pointer;
                }

            .charsheet .content .content-box-core .content-box-core-skill {
                width: 150px;
                height: 30px;
                background-color: var(--CBase);
                border-radius: 5px;
                cursor: pointer;
            }
                .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-button {
                    width: 150px;
                    height: 30px;
                    background-color: var(--CBase);
                    border-radius: 5px;
                    margin-top: 0px;
                }
                    .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-button:hover {
                        filter: brightness(110%);
                    }
                    .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-button:active {
                        filter: brightness(90%);
                    }
                    .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-button label {
                        text-align: left;
                        color: var(--CBase);
                        filter: brightness(200%);
                        font-size: 17px;
                        font-weight: 500;
                        margin-left: 32px;
                        cursor: pointer;
                        padding-top: 7px;
                    }

                .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-box {
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    border-radius: 2.5px 2.5px 2.5px 2.5px;
                    top: 50%;
                    left: 50%;
                    transform: translateX(5px) translateY(5px);
                    overflow: hidden;
                    margin-top: -30px;
                }
                    .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-box input[type="checkbox"] {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 30px;
                        width: 30px;
                        border: none;
                        background: var(--CBase);
                        filter: brightness(75%);
                        margin-top: -5px;
                        margin-left: -5px;
                    }
                        .charsheet .content .content-box-core .content-box-core-skill .content-box-core-skill-box input[type="checkbox"]:checked {
                            filter: brightness(150%);
                        }  


        /* ----- POWER ----- */
        .charsheet .content .content-box-power {
            margin-left: 30px;
            margin-top: -450px;
            width: 710px;
            height: 450px;
            grid-template-columns: repeat(71, 10px);
            grid-template-rows: repeat(45, 10px);
            grid-gap: 0px;
            background-color: red;
            display: grid;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-740px);
            transition: transform;
            transition-delay: 0.15s;
        }


        /* ----- INVENTORY ----- */
        .charsheet .content .content-box-inventory {
            margin-left: 30px;
            margin-top: -450px;
            width: 710px;
            height: 450px;
            grid-template-columns: repeat(71, 10px);
            grid-template-rows: repeat(45, 10px);
            grid-gap: 0px;
            background-color: green;
            display: grid;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-740px);
            transition: transform;
            transition-delay: 0.15s;
        }


        /* ----- OPTIONS ----- */
        .charsheet .content .content-box-options {
            margin-left: 30px;
            margin-top: -450px;
            width: 710px;
            height: 450px;
            grid-template-columns: repeat(71, 10px);
            grid-template-rows: repeat(45, 10px);
            grid-gap: 0px;
            background-color: gray;
            display: grid;
            animation: hideEffect 0.15s ease-in-out;
            transform: translateX(-740px);
            transition: transform;
            transition-delay: 0.15s;
        }


/* ----- TAB TRANSITION SETUP ----- */
@keyframes hideEffect {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-740px);
    }
}
@keyframes showEffect {
    from {
        transform: translateX(-740px);
    }

    to {
        transform: translateX(0px);
    }
}
.charsheet .tabshow[value="character"] ~ .content .content-box-character,
.charsheet .tabshow[value="core"] ~ .content .content-box-core,
.charsheet .tabshow[value="power"] ~ .content .content-box-power,
.charsheet .tabshow[value="inventory"] ~ .content .content-box-inventory,
.charsheet .tabshow[value="options"] ~ .content .content-box-options {
    animation: showEffect 0.15s ease-in-out 0.15s;
    transform: translateX(0px);
}




.charsheet .healthbar-progress {
    background-color: var(--CGreen);
    width: 100%;
    height: 20px;
    transition: width 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.charsheet .manabar-progress {
    background-color: var(--CBlue);
    width: 50%;
    height: 20px;
    transition: width 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

/* ----- PROGRESS BAR STEPS ----- */
.charsheet .healthpercent[value^="-"] ~ div.healthbar-progress,
.charsheet .healthpercent[value="0"] ~ div.healthbar-progress {
    width: 0%;
    background-color: var(--CRed);
}
.charsheet .healthpercent[value^="0."] ~ div.healthbar-progress,
.charsheet .healthpercent[value="1"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="1."] ~ div.healthbar-progress {
    background-color: var(--CRed);
    width: 5%;
}
.charsheet .healthpercent[value="2"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="2."] ~ div.healthbar-progress {
    background-color: var(--CRed);
    width: 10%;
}
.charsheet .healthpercent[value="3"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="3."] ~ div.healthbar-progress {
    background-color: var(--CRed);
    width: 15%;
}
.charsheet .healthpercent[value="4"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="4."] ~ div.healthbar-progress {
    background-color: var(--CRed);
    width: 20%;
}
.charsheet .healthpercent[value="5"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="5."] ~ div.healthbar-progress {
    background-color: var(--CRed);
    width: 25%;
}
.charsheet .healthpercent[value="6"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="6."] ~ div.healthbar-progress {
    background-color: var(--CYellow);
    width: 30%;
}
.charsheet .healthpercent[value="7"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="7."] ~ div.healthbar-progress {
    background-color: var(--CYellow);
    width: 35%;
}
.charsheet .healthpercent[value="8"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="8."] ~ div.healthbar-progress {
    background-color: var(--CYellow);
    width: 40%;
}
.charsheet .healthpercent[value="9"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="9."] ~ div.healthbar-progress {
    background-color: var(--CYellow);
    width: 45%;
}
.charsheet .healthpercent[value="10"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="10."] ~ div.healthbar-progress {
    background-color: var(--CYellow);
    width: 50%;
}
.charsheet .healthpercent[value="11"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="11."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 55%;
}
.charsheet .healthpercent[value="12"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="12."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 60%;
}
.charsheet .healthpercent[value="13"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="13."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 65%;
}
.charsheet .healthpercent[value="14"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="14."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 70%;
}
.charsheet .healthpercent[value="15"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="15."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 75%;
}
.charsheet .healthpercent[value="16"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="16."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 80%;
}
.charsheet .healthpercent[value="17"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="17."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 85%;
}
.charsheet .healthpercent[value="18"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="18."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 90%;
}
.charsheet .healthpercent[value="19"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="19."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 95%;
}
.charsheet .healthpercent[value="20"] ~ div.healthbar-progress,
.charsheet .healthpercent[value^="20."] ~ div.healthbar-progress {
    background-color: var(--CGreen);
    width: 100%;
}

